/* .root {
  display: flex;
  padding: 0 calc(var(--xr) / 2);
  font-size: calc(var(--yr) * 3.25);
}

.link {
  color: inherit;
  text-decoration: none;
  position: relative;
  display: block;
  padding: calc(var(--yr) * 2) calc(var(--xr) / 2);
}

.active::after {
  content: "";
  position: absolute;
  left: calc(var(--xr) / 2);
  right: calc(var(--xr) / 2);
  bottom: 0;
  height: 2px;
  background: black;
} */

.new {
  padding: 0 var(--xr);
  max-width: 40rem;
  margin: 0 auto calc(var(--yr) * 10);
}

.tabs {
  padding: 0 var(--xr);
  max-width: 40rem;
  margin: 0 auto;
}
