.new {
  padding: 0 var(--xr);
  max-width: 40rem;
  margin: 0 auto calc(var(--yr) * 4);
}

.tabs {
  padding: 0 var(--xr);
  max-width: 40rem;
  margin: calc(var(--yr) * 4) auto;
  display: flex;
  font-weight: var(--fw-bold);
  justify-content: center;
}

.tab {
  color: inherit;
  text-decoration: none;
  display: block;
  font-weight: var(--font-bold);
  padding: calc(var(--yr) * 1) var(--xr);
  border-radius: calc(var(--yr) * 10);
}

.tab:not(:last-child) {
  margin: 0 var(--xr) 0 0;
}

.active {
  background-color: var(--theme-accent-color);
  color: #fff;
}
