.new {
  padding: 0 var(--xr);
  max-width: 40rem;
  margin: calc(var(--yr) * 2) auto calc(var(--yr) * 8);
}

.tabs {
  padding: 0 var(--xr);
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  font-weight: var(--fw-bold);
  justify-content: center;
}

.tab {
  color: inherit;
  text-decoration: none;
  display: block;
  font-weight: var(--font-bold);
  padding: calc(var(--yr) * 2) calc(var(--xr) * 1);
  /* border-radius: calc(var(--yr) * 10); */
  border-radius: 10rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tab:not(:last-child) {
  margin: 0 var(--xr) 0 0;
}

.active {
  background-color: var(--tmh-bg-scnd-clr);
  /* color: #fff; */
}
