.new {
  padding: 0 var(--xr);
  max-width: 40rem;
  margin: calc(var(--yr) * 2) auto calc(var(--yr) * 8);
}

.tabs {
  padding: 0 var(--xr);
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  font-weight: var(--fw-bold);
  /* justify-content: center; */
}

.tab {
  color: inherit;
  text-decoration: none;
  display: block;
  font-weight: var(--font-bold);
  padding: calc(var(--yr) * 2) 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tab:not(:last-child) {
  margin: 0 var(--xr) 0 0;
}

.active {
  border-bottom: 2px solid lch(from var(--t-tx-main-cl) l c h / 0.7);
}
