.root {
  margin: 0 0 calc(var(--yr) * 4);
  position: relative;
}

.input {
  background: var(--theme-form-background-color);
  outline: none;
  border-radius: var(--yr);
  padding: calc(var(--yr) * 3) calc(var(--xr) / 2);
  line-height: calc(var(--yr) * 4);
  transition: background-color 0.3s ease-out;
}

.input p {
  margin: 0;
}

.input:focus {
  background: var(--theme-form-background-color--active);
}

/* .input::before {
  content: attr(title);
  pointer-events: none;
  display: block;
} */

.button {
  appearance: none;
  display: block;
  background: none;
  padding: 0;
  height: 100%;
  border: 0;
  cursor: pointer;
}

.button svg {
  display: block;
  height: 100%;
  padding: calc(var(--yr) * 2);
}

.submit {
  margin: 0;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  /* opacity: 0; */
  width: calc(var(--yr) * 10);
  height: calc(var(--yr) * 10);
}

.active .input {
  padding: calc(var(--yr) * 3) calc(var(--xr) / 2) calc(var(--yr) * 10);
}

/* .active .input::before {
  display: none;
} */

/* .active .submit {
  opacity: 1;
} */
