.root {
  margin: 0;
  position: relative;
}


.field {
  position: relative;
}

.input {
  width: 100%;
  border: 0;
  margin: 0;
  outline: none;
  border-radius: calc(var(--yr) * 5);
  padding: calc(var(--yr) * 2.75) calc(var(--xr) * 4) calc(var(--yr) * 2.75) calc(var(--yr) * 4);
  box-shadow: 0 0 0 1px var(--th-fr-inp-brd-cl);
  background: var(--th-fr-inp-bg-cl);
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.input:focus {
  box-shadow: 0 0 0 2px var(--th-fr-inp-brd-ac-cl);
}

.input p {
  margin: 0;
}

.input:empty:before {
  content: attr(data-placeholder);
  pointer-events: none;
  display: block;
  color: var(--th-tx-sc-cl);
}

.submit {
  margin: 0;
  display: block;
  position: absolute;
  width: calc(var(--yr) * 10);
  height: calc(var(--yr) * 10);
  bottom: 0;
  right: 0;
}

.save {
  appearance: none;
  display: block;
  background: none;
  padding: calc(var(--yr) * 2);
  color: var(--th-fr-btn-tx-cl);
  height: 100%;
  border: 0;
  cursor: pointer;
}

.save::after {
  content: '';
  background: var(--th-fr-btn-bg-cl);
  position: absolute;
  border-radius: 50%;
  display: block;
  inset: calc(var(--yr) * 1.5);
}

.save:disabled {
  color: var(--th-fr-btn-tx-dis-cl);
}

.save:disabled::after {
  background: var(--th-fr-btn-bg-dis-cl);
}

.save svg {
  display: block;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* .active .button:not(:disabled) {
  color: var(--th-tx-pr-cl);
} */
