.root {
  color: inherit;
  display: grid;
  grid-template-columns: calc(var(--yr) * 10) 1fr;
  background: var(--th-bg-sc-cl);
  border-radius: var(--brd-rd);
  text-decoration: none;
  padding: calc(var(--yr) * 1) 0;
  max-width: 30rem;
  position: relative;
}

.root::before {
  content: "";
  position: absolute;
  background: var(--th-bg-sc-cl);
  height: calc(var(--yr) / 2);
  left: calc(var(--xr) * 1);
  right: calc(var(--xr) * 2);
  bottom: calc(var(--yr) / 2 * 2 * -1);
  z-index: -1;
}

.image {
  width: calc(var(--yr) * 8);
  height: calc(var(--yr) * 8);
  padding: calc(var(--yr) * 2);
  color: var(--th-tx-sc-cl);
}

.left {
  display: block;
  stroke-width: 2;
}

.stream {
  padding: calc(var(--yr) * 1) 0;
}

.metas {
  color: var(--th-tx-sc-cl);
  font-size: calc(var(--yr) * 3);
  line-height: calc(var(--yr) * 4);
  font-weight: var(--font-bold);
  margin: calc(var(--yr) * 1) 0 0;
}

.meta {
  display: flex;
}

.meta svg {
  margin: 0 var(--yr) 0 0;
  display: block;
  stroke-width: 2;
  width: calc(var(--yr) * 4);
  height: calc(var(--yr) * 4);
}
