.root {
  padding: 0 0 0 calc(var(--xr) / 2);
  border-left: var(--yr) solid var(--theme-background-secondary-color);
  margin: calc(var(--yr) * 2) 0;
  color: inherit;
  text-decoration: none;
  display: block;
}

.users {
  display: flex;
  margin: calc(var(--yr) * 1) 0 0;
}

.images {
  display: flex;
  margin-right: var(--yr);
}

.image::after {
  content: "";
  position: absolute;
  background: var(--theme-background-secondary-color);
  inset: 0;
  z-index: -1;
}

.image {
  width: calc(var(--yr) * 6);
  height: calc(var(--yr) * 6);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: calc(var(--yr) * 6);
  font-size: calc(var(--yr) * 2.5);
  font-weight: var(--font-bold);

  /* TODO: Make it outset */
  box-shadow: 0 0 0 1px inset var(--theme-background-primary-color);
}

.image:not(:first-child) {
  margin-left: calc(var(--yr) * -4);
}

.names {
  font-size: calc(var(--yr) * 3);
  line-height: calc(var(--yr) * 4);
  font-weight: var(--font-bold);
  white-space: nowrap;
  align-self: center;
}

.shimmer {
  display: grid;
  color: var(--theme-text-secondary-color);
  grid-template-columns: calc(var(--yr) * (4.5 + 1)) 1fr;
}

.shimmer svg {
  display: block;
  width: calc(var(--yr) * 4.5);
}
