.root {
  padding: 0;
  display: grid;
  grid-template-columns: calc(var(--yr) * 10) 1fr;
}

.left {
  color: inherit;
  display: block;
  text-decoration: none;
}

.stream {
  border-bottom: 2px solid var(--t-hr-main-cl);
  padding: 0 0 calc(var(--yr) * 4) 0;
}

.text {
  margin: 0 0 calc(var(--yr) * 2);
}

.users {
  display: flex;
}

.images {
  display: flex;
  margin-right: var(--yr);
}

.image {
  width: calc(var(--yr) * 5);
  height: calc(var(--yr) * 5);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: calc(var(--yr) * 5);
  font-size: calc(var(--yr) * 2);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.image:not(:first-child) {
  margin-inline-start: calc(var(--yr) * -2);
  mask: radial-gradient(
    circle calc(var(--yr) * 3) at calc(0% - var(--yr) * 0.5) 50%,
    transparent 99%,
    #fff 100%
  );
}

.names {
  font-size: calc(var(--yr) * 3);
  line-height: calc(var(--yr) * 4);
  font-weight: var(--font-bold);
  white-space: nowrap;
  align-self: center;
}

.left {
  color: var(--t-tx-sec-cl);
  /* position: absolute;
  left: 0;
  top: calc(var(--yr) * 1); */
  width: calc(var(--yr) * 8);
  height: calc(var(--yr) * 8);
  padding: calc(var(--yr) * 2);
}

.left svg {
  display: block;
}
