.root {
  padding: calc(var(--yr) * 10) var(--xr);
  max-width: 30rem;
  margin: 0 auto;
}

.title {
  margin: 0 0 calc(var(--yr) * 2);
  font-weight: var(--font-bold);
  font-size: calc(var(--yr) * 5);
  line-height: calc(var(--yr) * 7);
}

.desc,
.error {
  margin: 0 0 calc(var(--yr) * 4);
  font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 6);
}

.button {
  background: var(--t-btn-bg-main-cl);
  color: var(--t-btn-tx-main-cl);
  padding: calc(var(--yr) * 2.5) calc(var(--xr) * 2);
  border-radius: calc(var(--yr) * 2);
}

.button:disabled {
  background: var(--t-btn-bg-disabled-cl);
  color: var(--t-btn-tx-disabled-cl);
}

.button:not(:disabled):hover {
  background: var(--t-btn-bg-hover-cl);
}

.subscribed {
  margin: 0 0 calc(var(--yr) * 4);
}
