.root {
  padding: calc(var(--yr) * 10) var(--xr);
  max-width: 30rem;
  margin: 0 auto;
}

.title {
  margin: 0 0 calc(var(--yr) * 2);
  font-weight: var(--font-bold);
  font-size: calc(var(--yr) * 5);
  line-height: calc(var(--yr) * 7);
}

.desc,
.error {
  margin: 0 0 calc(var(--yr) * 4);
  font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 6);
}

.button {
  background: var(--th-fr-btn-bg-cl);
  color: var(--th-fr-btn-tx-cl);
  padding: calc(var(--yr) * 2.5) calc(var(--xr) * 2);
  /* border-radius: 10rem; */
  border-radius: calc(var(--yr) * 2);
}

.button:disabled {
  background: lch(from var(--th-fr-btn-bg-cl) calc(l + 70) c h);
  color: lch(from var(--th-fr-btn-tx-cl) calc(l - 5) c h);
  cursor: default;
}

.button:not(:disabled):hover {
  background: lch(from var(--th-fr-btn-bg-cl) calc(l + 20) c h);
}

.subscribed {
  margin: 0 0 calc(var(--yr) * 4);
}
