.root {
  padding: calc(var(--yr) * 30) var(--xr) calc(var(--yr) * 10);
  max-width: 30rem;
  margin: 0 auto;
}

.title {
  margin: 0 0 calc(var(--yr) * 4);
  font-weight: var(--font-bold);
  font-size: calc(var(--yr) * 10);
  line-height: calc(var(--yr) * 10);
  font-variation-settings: "wdth" var(--font-cond);
}

.desc {
  margin: 0 0 calc(var(--yr) * 4);
  font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 6);
}

.hint {
  margin: 0 0 calc(var(--yr) * 4);
}

.label {
  font-weight: var(--font-bold);
  margin: 0 0 calc(var(--yr) * 1);
}

.field {
  margin: 0 0 calc(var(--yr) * 4);
}

.input {
  width: 100%;
  border: 0;
  margin: 0;
  outline: none;
  border-radius: calc(var(--yr) * 2);
  padding: calc(var(--yr) * 3) var(--xr);
  box-shadow: 0 0 0 1px var(--thm-frm-inpt-brd-clr);
  background: var(--thm-frm-inpt-bg-clr);
}

.input:focus {
  box-shadow: 0 0 0 2px lch(from var(--thm-frm-inpt-brd-clr) calc(l - 5) c h);
  background: lch(from var(--thm-frm-inpt-bg-clr) calc(l - 2) c h);
}

.button {
  background: var(--thm-frm-btn-bg-clr);
  color: var(--thm-frm-btn-tx-clr);
  padding: calc(var(--yr) * 2.5) calc(var(--xr) * 2);
  /* border-radius: 10rem; */
  border-radius: calc(var(--yr) * 2);
}

.button:disabled {
  background: lch(from var(--thm-frm-btn-bg-clr) calc(l + 70) c h);
  color: lch(from var(--thm-frm-btn-tx-clr) calc(l - 5) c h);
  cursor: default;
}

.button:not(:disabled):hover {
  background: lch(from var(--thm-frm-btn-bg-clr) calc(l + 20) c h);
}
