.root {
  margin: 0 0 calc(var(--yr) * 2);
  padding: calc(var(--yr) * 1) calc(var(--xr) / 2) calc(var(--yr) * 2);

  display: grid;
  grid-template-columns: calc(var(--yr) * 10) 1fr;
}

.user {
  padding: var(--yr) 0;
  font-size: calc(var(--yr) * 3);
  line-height: calc(var(--yr) * 4);
  font-weight: var(--font-bold);
}

.image {
  width: calc(var(--yr) * 8);
  height: calc(var(--yr) * 8);
  /* background: var(--theme-background-secondary-color); */
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: calc(var(--yr) * 8);
  font-size: calc(var(--yr) * 3);
  font-weight: var(--font-bold);
}

.image::after {
  content: "";
  position: absolute;
  background: var(--theme-background-secondary-color);
  inset: 0;
  z-index: -1;
}

.actions {
  display: flex;
  user-select: none;
  color: var(--theme-text-secondary-color);
}

.date {
  margin-right: var(--xr);
}

.like {
  margin-right: var(--xr);
}

.reply {
  margin-right: auto;
}

.date,
.like,
.reply {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: calc(var(--yr) * 1) 0;
  font-size: calc(var(--yr) * 3);
  line-height: calc(var(--yr) * 4);
}

.like,
.reply {
  font-weight: var(--font-bold);
}
