.root {
  overflow-y: scroll;
  overflow-x: hidden;
}

.header {
  display: block;
  position: relative;
}

.logo {
  padding: calc(var(--yr) * 2) 0;
  display: block;
  margin: 0 auto;
  height: calc(var(--yr) * 10);
  width: calc(var(--xr) * 10);
}

.img {
  width: 100%;
  height: 100%;
  background: gray;
}

.session {
  position: absolute;
  right: 0;
  top: 0;
}

.auth {
  display: block;
  line-height: calc(var(--yr) * 10);
  padding: 0 calc(var(--xr) * 2);
}


.notify {
  display: block;
  line-height: calc(var(--yr) * 10);
  padding: 0 calc(var(--xr) * 2);
  position: absolute;
  left: 0;
  top: 0;
}
