.root {
  overflow-y: scroll;
  overflow-x: hidden;
}

.header {
  display: flex;
  position: relative;
  padding: 0 calc(var(--xr) - var(--yr));
}

.logo {
  display: block;
  padding: var(--yr);
  height: calc(var(--yr) * 10);
  width: calc(var(--yr) * 10);
}

.logo svg {
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(var(--theme-text-primary-color));
}

.logo svg rect {
  fill: rgb(var(--theme-background-primary-color));
}

.auth {
  display: block;
  padding: var(--yr);
  height: calc(var(--yr) * 10);
  width: calc(var(--yr) * 10);
}

.auth svg path {
  fill: rgb(var(--theme-text-primary-color));
}

.notify {
  display: block;
}

.back {
  margin: 0 auto 0 0;
  display: block;
}
