.root {
  padding: calc(var(--yr) * 2) 0 calc(var(--yr) * 10);
  max-width: 40rem;
  margin: 0 auto;
}

.messages {
  padding: 0 var(--xr);
}

.loader {
  margin: 0 0 calc(var(--yr) * 4);
}

.stream {
  margin: 0 0 calc(var(--yr) * 4);
}
