.button {
  appearance: none;
  background: rgb(var(--theme-button-background-color));
  color: rgb(var(--theme-button-text-color));
  display: block;
  border: 0;
  font-family: inherit;
  cursor: pointer;
  font-size: calc(var(--yr) * 2.5);
  line-height: calc(var(--yr) * 6);
  padding: 0 calc(var(--xr) * 1);
  margin: calc(var(--yr) * 2) 0;
  border-radius: calc(var(--yr) * 3);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}
