.root {
  appearance: none;
  display: block;
  padding: var(--yr);
  height: calc(var(--yr) * 10);
  width: calc(var(--yr) * 10);
  border: 0;
  background: none;
  cursor: pointer;
}

.root svg {
  display: block;
}

.root svg path {
  fill: rgb(var(--theme-text-primary-color));
}
