.root {
  margin: 0 0 calc(var(--yr) * 2);
  padding: calc(var(--yr) * 1) calc(var(--xr) / 2) calc(var(--yr) * 2);

  display: grid;
  grid-template-columns: calc(var(--yr) * 10) 1fr;
}

.image {
  width: calc(var(--yr) * 8);
  height: calc(var(--yr) * 8);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: calc(var(--yr) * 8);
  font-size: calc(var(--yr) * 3);
  font-weight: var(--font-bold);
}

.image::after {
  content: "";
  position: absolute;
  background: var(--theme-background-secondary-color);
  inset: 0;
  z-index: -1;
}

.main {
  position: relative;
}

.label {
  line-height: calc(var(--yr) * 4);
  font-size: calc(var(--yr) * 3);
  font-weight: var(--font-bold);
  margin: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: var(--yr);
  user-select: none;
}

.field {
  margin: 0 0 0 calc(var(--yr) * -1);
  position: relative;
}

.input {
  color: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  border: 0;
  margin: 0;
  outline: none;
  border-radius: var(--yr);
  padding: calc(var(--yr) * 6) var(--yr) calc(var(--yr) * 2);
  resize: vertical;
  field-sizing: content;
  background: var(--theme-form-background-color);
  transition: background-color 0.2s ease-out;
}

.input:focus {
  background: var(--theme-form-background-color--active);
}

.input p {
  margin: 0;
}

.button {
  appearance: none;
  display: block;
  background: none;
  padding: 0;
  height: 100%;
  border: 0;
  cursor: pointer;
}

.button svg {
  display: block;
  height: 100%;
  padding: calc(var(--yr) * 2);
}

.submit {
  margin: 0;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(var(--yr) * 10);
  height: calc(var(--yr) * 10);
}
