.root {
  padding: 0;
  position: relative;
}

.input {
  width: 100%;
  border: 0;
  margin: 0;
  outline: none;
  border-radius: calc(var(--yr) * 2);
  padding: calc(var(--yr) * 3) calc(var(--xr) * 4) calc(var(--yr) * 3) var(--xr);
  box-shadow: 0 0 0 1px var(--t-npt-brd-main-cl);
  background: var(--t-npt-bg-main-cl);
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.input:focus {
  box-shadow: 0 0 0 2px var(--t-npt-brd-focus-cl);
  background: var(--t-npt-bg-focus-cl);
}

.input p {
  margin: 0;
}

.button {
  appearance: none;
  display: block;
  background: none;
  padding: 0;
  height: 100%;
  border: 0;
  cursor: pointer;
  padding: 0;
  color: var(--t-tx-sec-cl);
  border-radius: 50%;
}

.button:not(:disabled) {
  color: var(--t-tx-main-cl);
}

.button svg {
  display: block;
  height: 100%;
  padding: calc(var(--yr) * 0.5);
}

.submit {
  margin: 0;
  display: block;
  position: absolute;
  width: calc(var(--yr) * 10);
  height: calc(var(--yr) * 10);
  bottom: 0;
  right: 0;
  padding: calc(var(--yr) * 1.5);
}
