.root {
  margin: 0 0 calc(var(--yr) * 2);
  padding: calc(var(--yr) * 1) calc(var(--xr) / 2) calc(var(--yr) * 2);

  display: grid;
  grid-template-columns: calc(var(--yr) * 10) 1fr;
}

.image {
  width: calc(var(--yr) * 8);
  height: calc(var(--yr) * 8);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: calc(var(--yr) * 8);
  font-size: calc(var(--yr) * 3);
  font-weight: var(--font-bold);
}

.image::after {
  content: "";
  position: absolute;
  background: var(--theme-background-secondary-color);
  inset: 0;
  z-index: -1;
}

.label {
  line-height: calc(var(--yr) * 4);
  font-size: calc(var(--yr) * 3);
  font-weight: var(--font-bold);
  margin: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: var(--yr);
  user-select: none;
}

.field {
  margin: 0 0 calc(var(--yr) * 4) calc(var(--yr) * -1);
  position: relative;
}

.input {
  color: inherit;
  font-size: inherit;
  background: var(--theme-background-secondary-color-inactive);
  display: block;
  width: 100%;
  border: 0;
  margin: 0;
  outline: none;
  border-radius: var(--yr);
  padding: calc(var(--yr) * 6) var(--yr) calc(var(--yr) * 2);
  resize: vertical;
  field-sizing: content;
}

.input:focus {
  background: var(--theme-background-secondary-color);
}

.input p {
  margin: 0;
}
