.root {
  padding: 0 calc(var(--xr) - var(--yr));
  display: grid;
  grid-template-columns: calc(var(--yr) * 11) 1fr;
}

.field {
  position: relative;
}

.input {
  width: 100%;
  border: 0;
  margin: 0;
  outline: none;
  border-radius: calc(var(--yr) * 5);
  padding: calc(var(--yr) * 2.75) calc(var(--xr) * 4) calc(var(--yr) * 2.75)
    calc(var(--yr) * 4);
  box-shadow: 0 0 0 1px var(--th-fr-inp-brd-cl);
  background: var(--th-fr-inp-bg-cl);
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.input:focus {
  box-shadow: 0 0 0 2px var(--th-fr-inp-brd-ac-cl);
}

.input p {
  margin: 0;
}

.submit {
  margin: 0;
  display: block;
  position: absolute;
  width: calc(var(--yr) * 10);
  height: calc(var(--yr) * 10);
  bottom: 0;
  right: 0;
}

.save {
  appearance: none;
  display: block;
  background: none;
  padding: calc(var(--yr) * 2);
  color: var(--th-fr-btn-tx-cl);
  height: 100%;
  border: 0;
  cursor: pointer;
}

.save::after {
  content: "";
  background: var(--th-fr-btn-bg-cl);
  position: absolute;
  border-radius: 50%;
  display: block;
  inset: calc(var(--yr) * 1.5);
}

.save:disabled {
  color: var(--th-fr-btn-tx-dis-cl);
}

.save:disabled::after {
  background: var(--th-fr-btn-bg-dis-cl);
}

.save svg {
  display: block;
  height: 100%;
  position: relative;
  z-index: 1;
}

.attach {
  appearance: none;
  display: block;
  background: none;
  color: var(--th-fr-btn-tx-cl);
  padding: calc(var(--yr) * 2);
  border: 0;
  cursor: pointer;
  position: relative;

  width: calc(var(--yr) * 10);
  height: calc(var(--yr) * 10);
}

.attach::after {
  content: "";
  background: var(--th-fr-btn-bg-cl);
  position: absolute;
  border-radius: 50%;
  display: block;
  inset: calc(var(--yr) * 1.5);
}

.attach:disabled {
  color: var(--th-fr-btn-tx-dis-cl);
}

.attach:disabled::after {
  background: var(--th-fr-btn-bg-dis-cl);
}

.attach svg {
  display: block;
  height: 100%;
  position: relative;
  z-index: 1;
}

.media {
  position: relative;
}

.soon {
  position: absolute;
  left: calc((50% - var(--yr) / 2));
  color: var(--th-tx-sc-cl);
  box-shadow: 0 0 0 1px inset var(--th-fr-btn-bg-dis-cl);
  bottom: calc(var(--yr) * -3);
  font-size: calc(var(--yr) * 1.75);
  line-height: calc(var(--yr) * 2);
  padding: calc(var(--yr) * 0.5) var(--yr);
  border-radius: var(--th-fr-btn-rds);
  text-transform: uppercase;
  text-align: center;
  transform: translate(-50%, 0);
}
