.root {
  padding: 0;
  position: relative;
}

.input {
  color: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  border: 0;
  margin: 0;
  outline: none;
  border-radius: calc(var(--yr) * 5);
  padding: calc(var(--yr) * 3) calc(var(--xr) * 4) calc(var(--yr) * 3) var(--xr);
  box-shadow: 0 0 0 2px inset var(--theme-form-border-color);
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;

  /* TODO: sync with body, maybe or maybe not */
  /* line-height: inherit; */
  line-height: calc(var(--yr) * 4);
}

.input:focus {
  box-shadow: 0 0 0 2px inset var(--theme-form-border-color--active);
}

.input p {
  margin: 0;
}

.button {
  appearance: none;
  display: block;
  background: none;
  padding: 0;
  height: 100%;
  border: 0;
  cursor: pointer;
  padding: 0;
  background: var(--theme-form-button-color);
  color: var(--theme-form-button-text-color);
  border-radius: 50%;
}

.button:disabled {
  opacity: 0.3;
}

.button svg {
  display: block;
  height: 100%;
  padding: calc(var(--yr) * 0.5);
}

.submit {
  margin: 0;
  display: block;
  position: absolute;
  width: calc(var(--yr) * 10);
  height: calc(var(--yr) * 10);
  bottom: 0;
  right: 0;
  padding: calc(var(--yr) * 1.5);
}
