.root {
  color: inherit;
  text-decoration: none;
  display: block;
  box-shadow: 0 0 0 2px inset var(--th-bg-sc-cl);
  border-radius: calc(var(--yr) * 2);
  padding: calc(var(--yr) * 2) var(--xr);
  position: relative;
  margin: calc(var(--yr) * 1) 0;
  max-width: 30rem;
}

.root::before {
  content: "";
  position: absolute;
  background: var(--th-bg-sc-cl);
  height: calc(var(--yr) / 2);
  left: calc(var(--xr) * 1);
  right: calc(var(--xr) * 2);
  bottom: calc(var(--yr) / 2 * 2 * -1);
  z-index: -1;
}

.main {
  position: relative;
}

.text {
  margin: 0 0 calc(var(--yr) * 2);
}

.users {
  display: flex;
}

.images {
  display: flex;
  margin-right: var(--yr);
  padding: calc(var(--yr) / 2) 0;
}

.image {
  width: calc(var(--yr) * 5);
  height: calc(var(--yr) * 5);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: calc(var(--yr) * 5);
  font-size: calc(var(--yr) * 2);
  font-weight: var(--font-bold);
  text-transform: uppercase;
}

.image:not(:first-child) {
  margin-inline-start: calc(var(--yr) * -2);
  mask: radial-gradient(
    circle calc(var(--yr) * 3) at calc(0% - var(--yr) * 0.5) 50%,
    transparent 99%,
    #fff 100%
  );
}

.names {
  font-size: calc(var(--yr) * 3);
  line-height: calc(var(--yr) * 4);
  font-weight: var(--font-bold);
  white-space: nowrap;
  align-self: center;
  padding: calc(var(--yr)) 0;
}

.link {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  padding: calc(var(--yr) * 1) calc(var(--yr) * 1);
  text-decoration: none;
  color: var(--th-tx-sc-cl);
  font-size: calc(var(--yr) * 3);
  line-height: calc(var(--yr) * 4);
  font-weight: var(--font-bold);
  white-space: nowrap;
}

.right {
  margin: 0 0 0 var(--yr);
  height: calc(var(--yr) * 4);
  stroke-width: 2;
}
