@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wdth,wght@62.5..100,100..900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wdth,wght@93.7,372&display=swap'); */

:root {
  color-scheme: light dark;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --yr: 0.25rem;
  --xr: 0.75rem;

  --font-normal: 400;
  --font-bold: 550;

  --font-cond: 90;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-size: calc(var(--yr) * 3.5);
  line-height: calc(var(--yr) * 4.5);
  font-weight: var(--font-normal);
  margin: 0;
  color: var(--t-tx-main-cl);
  background: var(--t-bg-main-cl);
}

button,
input,
textarea {
  display: block;
  font-size: inherit;
  font-family: inherit;
  line-height: calc(var(--yr) * 4);
}

label {
  display: block;
}

input {
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

button {
  font-weight: var(--font-bold);
  border: 0;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.button:disabled {
  cursor: default;
}

#root {
  max-width: 80rem;
  margin: 0 auto;
}
