@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wdth,wght@62.5..100,100..900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wdth,wght@93.7,372&display=swap'); */

:root {
  color-scheme: light dark;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --yr: 0.25rem;
  --xr: 0.75rem;

  --font-normal: 400;
  --font-bold: 550;

  --font-cond: 90;

  --theme-accent-color: lch(45 100 305);
  /* --theme-accent-color: lch(35 115 305); */

  --theme-text-primary-color: lch(2 0 0);
  --theme-text-secondary-color: lch(
    from var(--theme-text-primary-color) calc(l + 50) c h
  );

  --thm-bg-clr: lch(100 0 0);
  --thm-bg-ivt-clr: lch(0 0 0);
  --thm-bg-prm-clr: lch(from var(--thm-bg-clr) calc(l - 1) c h);
  --tmh-bg-scnd-clr: lch(from var(--thm-bg-prm-clr) calc(l - 5) c h);

  --thm-frm-inpt-brd-clr: lch(from var(--thm-bg-prm-clr) calc(l - 10) c h);
  --thm-frm-inpt-bg-clr: lch(from var(--thm-bg-prm-clr) calc(l - 1) c h);
  --thm-frm-btn-bg-clr: lch(from var(--thm-bg-ivt-clr) calc(l + 5) c h);
  --thm-frm-btn-tx-clr: lch(from var(--thm-frm-btn-bg-clr) calc(l + 98) c h);

  /* STREAMS */
  --theme-stream-border-color: lch(from var(--thm-bg-prm-clr) calc(l - 10) c h);
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-size: calc(var(--yr) * 3.5);
  line-height: calc(var(--yr) * 4.5);
  font-weight: var(--font-normal);
  margin: 0;
  color: var(--theme-text-primary-color);
  background: var(--thm-bg-prm-clr);
}

button,
input,
textarea {
  display: block;
  font-size: inherit;
  font-family: inherit;
  line-height: calc(var(--yr) * 4);
}

label {
  display: block;
}

input {
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

button {
  font-weight: var(--font-bold);
  border: 0;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.button:disabled {
  cursor: default;
}

#root {
  max-width: 80rem;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-text-primary-color: lch(88 0 0);
    --theme-text-secondary-color: lch(
      from var(--theme-text-primary-color) calc(l - 30) c h
    );

    --thm-bg-clr: lch(0 0 0);
    --thm-bg-ivt-clr: lch(100 0 0);
    --thm-bg-prm-clr: lch(from var(--thm-bg-clr) calc(l + 10) c h);
    --tmh-bg-scnd-clr: lch(from var(--thm-bg-prm-clr) calc(l + 5) c h);

    --thm-frm-inpt-brd-clr: lch(from var(--thm-bg-prm-clr) calc(l + 10) c h);
    --thm-frm-inpt-bg-clr: lch(from var(--thm-bg-prm-clr) calc(l + 3) c h);
    --thm-frm-btn-bg-clr: lch(from var(--thm-bg-ivt-clr) calc(l - 20) c h);
    --thm-frm-btn-tx-clr: lch(from var(--thm-frm-btn-bg-clr) calc(l - 70) c h);
  }

  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
