.root {
  padding: calc(var(--yr) * 30) var(--xr) calc(var(--yr) * 10);
  max-width: 30rem;
  margin: 0 auto;
}

.title {
  margin: 0 0 calc(var(--yr) * 4);
  font-weight: var(--font-bold);
  font-size: calc(var(--yr) * 10);
  line-height: calc(var(--yr) * 10);
  font-variation-settings: "wdth" var(--font-cond);
}

.desc {
  margin: 0 0 calc(var(--yr) * 4);
  font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 6);
}

.hint {
  margin: 0 0 calc(var(--yr) * 4);
}

.label {
  font-weight: var(--font-bold);
  margin: 0 0 calc(var(--yr) * 2);
}

.field {
  margin: 0 0 calc(var(--yr) * 4);
  max-width: 20rem;
}

.input {
  width: 100%;
  border: 0;
  margin: 0;
  outline: none;
  border-radius: calc(var(--yr) * 2);
  padding: calc(var(--yr) * 3) var(--xr);
  box-shadow: 0 0 0 1px var(--t-npt-brd-main-cl);
  background: var(--t-npt-bg-main-cl);
}

.input:focus {
  box-shadow: 0 0 0 2px var(--t-npt-brd-focus-cl);
  background: var(--t-npt-bg-focus-cl);
}

.button {
  background: var(--t-btn-bg-main-cl);
  color: var(--t-btn-tx-main-cl);
  padding: calc(var(--yr) * 2.5) calc(var(--xr) * 2);
  border-radius: calc(var(--yr) * 2);
}

.button:disabled {
  background: var(--t-btn-bg-disabled-cl);
  color: var(--t-btn-tx-disabled-cl);
}

.button:not(:disabled):hover {
  background: var(--t-btn-bg-hover-cl);
}
