.root {
  margin: calc(var(--yr) * 10) 0 0;
}

.item:not(:first-child) {
  margin: calc(var(--yr) * 4) 0 0;
}

.input {
  margin: calc(var(--yr) * 2) 0 0;
}

.label {
  font-weight: bold;
}

.input input {
  width: 100%;
  appearance: none;
  background: rgb(var(--theme-background-primary-color));
  color: rgb(var(--theme-text-primary-color));
  box-shadow: inset 0 0 0 1px gainsboro;
  font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 6);
  padding: calc(var(--yr) * 2) calc(var(--xr) * 2);
  border: 0;
  outline: none;
  border-radius: calc(var(--yr) * 2);
}

.desc {
  margin: 0 0 calc(var(--yr) * 8);
}


.button {
  width: 100%;
  cursor: pointer;
  appearance: none;
  margin: calc(var(--yr) * 4) 0 0;
  background: rgb(var(--theme-text-primary-color));
  color: rgb(var(--theme-background-primary-color));
  font-size: calc(var(--yr) * 3.5);
  line-height: calc(var(--yr) * 6);
  padding: calc(var(--yr) * 2) calc(var(--xr) * 2);
  border: 0;
  outline: none;
  border-radius: calc(var(--yr) * 2);
}

.button:disabled {
  opacity: 0.5;
}
