name: CI

on: pull_request

jobs:
  biome:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lockb') }}

      - name: Install
        run: bun install

      - name: Format
        run: bun biome ci .

      - name: TypeScript
        run: bun tsc --noEmit
